In [7]:
import os
import numpy as np
from matplotlib import colors
from matplotlib import pyplot as plt
import h5py
import pandas as pd

In [13]:
f = h5py.File('processed-pythia82-lhc13-all-pt1-50k-r1_h022_e0175_t220_nonu_withPars_truth_0.z', 'r')
dset = f['t_allpar_new'][()]
print(dset.shape)
features = ['index','j_index','j_zlogz', 'j_c1_b0_mmdt', 'j_c1_b1_mmdt', 'j_c2_b1_mmdt', 'j_d2_b1_mmdt', 'j_d2_a1_b1_mmdt', 'j_m2_b1_mmdt', 'j_n2_b1_mmdt', 'j_mass_mmdt', 'j_multiplicity']
df = pd.DataFrame(dset, columns=features)

(5131613,)

In [15]:
df

,index,j_index,j_zlogz,j_c1_b0_mmdt,j_c1_b1_mmdt,j_c2_b1_mmdt,j_d2_b1_mmdt,j_d2_a1_b1_mmdt,j_m2_b1_mmdt,j_n2_b1_mmdt,j_mass_mmdt,j_multiplicity
0,0,101333,-2.581735,0.360516,0.006662,0.013948,2.093754,2.093754,0.104902,0.380295,9.118754,51.0
1,1,101333,-2.581735,0.360516,0.006662,0.013948,2.093754,2.093754,0.104902,0.380295,9.118754,51.0
2,2,101333,-2.581735,0.360516,0.006662,0.013948,2.093754,2.093754,0.104902,0.380295,9.118754,51.0
3,3,101333,-2.581735,0.360516,0.006662,0.013948,2.093754,2.093754,0.104902,0.380295,9.118754,51.0
4,4,101333,-2.581735,0.360516,0.006662,0.013948,2.093754,2.093754,0.104902,0.380295,9.118754,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5131608,5131608,300123134,-3.525871,0.474667,0.095300,0.125135,1.313068,1.313068,0.113835,0.310633,204.508606,83.0
5131609,5131609,300123134,-3.525871,0.474667,0.095300,0.125135,1.313068,1.313068,0.113835,0.310633,204.508606,83.0
5131610,5131610,300123134,-3.525871,0.474667,0.095300,0.125135,1.313068,1.313068,0.113835,0.310633,204.508606,83.0
5131611,5131611,300123134,-3.525871,0.474667,0.095300,0.125135,1.313068,1.313068,0.113835,0.310633,204.508606,83.0
5131612,5131612,300123134,-3.525871,0.474667,0.095300,0.125135,1.313068,1.313068,0.113835,0.310633,204.508606,83.0